<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Todo::New Task</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h3>New Task</h3>
  <form th:action="@{/addtask}" th:object="${taskRequest}" method="post">
    <table>
      <tr>
        <td>Task</td>
        <td>
          <input type="text" th:field="*{task}"
            placeholder="What is your task?">
        </td>
      </tr>
    </table>
    <button type="submit">Save</button>
  </form>
</body>
</html>