<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Todo::Task List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
  href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/tasklist">Todo</a>
      </div>
    </nav>
    <div class="text-center">
      <img th:src="@{/images/simple_todo_logo.jpg}" alt="SIMPLE TODO">
    </div>
    <ul class="list-group">
      <li class="list-group-item" th:each="task: ${taskList}">
        <form role="form"  th:action="@{/updatetask}">
          <button type="submit" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <input type="hidden" th:value="${task.id}" />
          <span th:text="${task.task}">Task
            will be placed here</span>
        </form>
      </li>
    </ul>
    <form role="form" th:action="@{/addtask}" th:object="${taskRequest}"
      method="post">
      <div class="form-group">
        <input type="text" class="form-control" th:field="*{task}"
          placeholder="Your task for today">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Task추가</button>
    </form>

  </div>
  <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>